<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<ResultsDirectory>.\TestResults</ResultsDirectory>
	</RunConfiguration>
	<TestRunParameters>
		<Parameter name="GoodFileName" value="[AppDataPath]\TestFile.RunSettings.txt" />
		<Parameter name="BadFileName" value="C:\BogusNameDoesNotExist.txt" />
		<Parameter name="EmptyFileFailMsg" value="The call to fhe FileExists() method did NOT throw an ArgumentNullException and it SHOULD have." />
		<Parameter name="EmptyFileMsg" value="Checking for an empty file name." />
	</TestRunParameters>
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="true">
				<Configuration>
					<Verbosity>quiet</Verbosity>
				</Configuration>
			</Logger>
			<Logger friendlyName="trx" enabled="true">
				<Configuration>
					<LogFileName>MyClassesTests.trx</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="html" enabled="true">
				<Configuration>
					<LogFileName>MyClassesTests.html</LogFileName>
				</Configuration>
			</Logger>
		</Loggers>
	</LoggerRunSettings>
</RunSettings>